{% extends 'base_generic.html' %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <h1>Log In</h1>

    <div class="container">
    <form method="post" action="{% url 'login' %}">

        {% csrf_token %}

        <div id="container">
        <table align="center">
            <tr align="center">
              <td align="center">{{ form.username.label_tag }}</td>
              <td align="center">{{ form.username }}</td>
            </tr>
        </table>
        </div>

        <div id="container">
        <table align="center">
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
        </table>
        </div>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}