.DS_Store
SVAG_Model/.idea/
SVAG_Model/.ipynb_checkpoints/
SVAG_Model/TFModel/.ipynb_checkpoints/
SVAG_Model/TFModel/__pycache__
SVAG_Model/venv/
SVAG_Model/TFModel/for_demo/
SVAG_Model/TFModel/log/
SVAG_Model/TFModel/pre_train_file/
WEB/tfweb/.idea/
WEB/tfweb/media/
WEB/tfweb/tfweb/__pycache__/
WEB/tfweb/tfweb/.idea/
WEB/tfweb/vision/__pycache__/
WEB/tfweb/vision/.idea/
WEB/tfweb/vision/.ipynb_checkpoints/
WEB/tfweb/vision/migrations/__pycache__/
