body {
    padding-top: 70px;
    background: url(https://images.unsplash.com/photo-1540508664702-7839b9d38075?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=08c698e62c2fdf123288b6e7ef8dba71&auto=format&fit=crop&w=2734&q=80);
    background-size: cover;
    background-position: center;
}

.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;

}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.button {
    padding-right: 5%;
    border: none;
    display: inline-block;
    color: #2c3e50;
    float: right;
}

.name {
    font-size: 16px;
    margin: auto;
    padding-left: 5%;
}
