{% extends "base_generic.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css'%}">

    <form method="post" name="add_database" enctype="multipart/form-data">
    {% csrf_token %}
    <p><span>project name:</span><input type="text" placeholder="project_name" name="project_name"></p>
    <p><span>project type:</span><input type="text" placeholder="project_type" name="project_type"></p>
    <button herf="{% url 'upload' %}"type="submit">Create</button>

    </form>
{% endblock %}