{% extends 'base_generic.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <body>

      <h1>Sign Up</h1>
{#      {% if user.is_authenticated %}#}
{#        <a href="{% url 'logout' %}">logout</a>#}
{#      {% else %}#}
{#        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>#}
{#      {% endif %}#}
      <hr>


  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
{#        {% if field.help_text %}#}
{#          <small style="color: grey">{{ field.help_text }}</small>#}
{#        {% endif %}#}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button style="color: black" type="submit" href="{% url 'login' %}">Sign up</button>
  </form>
    </body>
{% endblock %}